.box {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image:url(./bgnew.png);
    background-repeat: no-repeat;
    background-size: cover; 
    justify-content: center;
}

.content {
    width: 100%;
    padding: 0 20px;
    flex: 1;
    box-sizing: border-box;
}


.loginContainer {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 25px;
    background-color: rgba(91, 85, 79, 0.847);
    border-radius: 15px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    color: rgb(246, 236, 224);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}

#email, #password{
    border-radius: 10px;
}

.inputField {
    text-align: left;
    margin-bottom: 20px;
}

.inputField label {
    display: block;
    margin-bottom: 5px;
}

.inputField input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #ddd;
    transition: border-color 0.3s;
}

.inputField input:focus {
    border-color: #e2b019;
}

.loginBtn {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loginBtn:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .login-container {
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    .input-field input {
        font-size: 16px;
    }

    .login-btn {
        padding: 12px;
        font-size: 18px;
    }
}

#link{
    text-decoration: none;
    color: #512f08;
}

.check{
    text-align: center;
}

/*    
   @media (max-width: 768px) {
    .footer {
       padding: 5px;
    }
   } */